/* ==========================row 3 ====================== */
/* style for icon names */
[class*="msi-icon-"] {
  font-size: calc(1vw + 1.68px);
}

/* ===================row 4 ===================== */
h2{
  font-size: calc(1vw + 22px);
}

.carousel-txt-section .carousel-text-box div h3{
  font-size: calc(1vw + 3px);
}
.carousel-txt-section .carousel-text-box div p{
  font-size: calc(1vw + 2px);
}
/* ====================row 7 ================== */
.social-link .text-box h3{
  font-size: calc(1vw + 4px);
}