/* ===============row 3=================== */
h2{
  font-size: calc(2vw + 10px);
}
.Specifications-product h3{
  font-size: calc(2vw + 2px);
}
.Specifications-product span{
  font-size: calc(2vw + 1px);
}
