/* ====================row 3=================== */
h2{
  font-size: calc(1.5vw + 5px);
}
.Specifications-product h3{
  font-size: 15px;
}
.Specifications-product span{
  font-size: 14px;
}
/* ======================row 5=================== */
.service-icons span:nth-child(2){
  font-size: calc(1vw + 0.9px);
  font-weight: 400;
}
/* =======================row 6====================== */
.social-link .text-box {
  top: -67px;
  background-color: rgba(223, 223, 223, 0.5);
}
.social-link:hover .text-box{
  background-color: rgba(138, 137, 137, 0.5);
}