
/* ======================row 2 ===================== */
.carousel-btn-bg {
  background-color: rgba(128, 128, 128, 0.671);
  width: 45px;
  height: 75px;
}


/* ====================row 4=================== */
h2{
  font-size: 40px;
}
/* ======================row 5=================== */
/* =======================row 6====================== */
.social-link .text-box {
  top: -72px;
  background-color: rgba(223, 223, 223, 0.5);
}
.social-link:hover .text-box{
  background-color: rgba(138, 137, 137, 0.5);
}
