html {
  font-size: 62.5%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  line-height: 1.6 ;
  font-size: 1.6rem;
  font-family: cursive;
  height: 100vh;
  animation: identifier 8s linear 0s infinite alternate-reverse backwards;
  -webkit-animation: identifier 8s linear 0s infinite alternate-reverse backwards;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes identifier {
			
		0% {
			background:#19dcea;
		}
		100% {
			background:#b22cff;
		}

}

.projects-list-wrapper {
  padding: 2rem;
  background-color: transparent;
  border: 1px solid goldenrod;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.projects-list {
  perspective: 1000px;
  width: 30rem;
  height: 30rem;
  cursor: pointer;
  background: transparent;
}
/* -- -------pl-3 -- */
.project-list__in {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  position: relative;
  transition: all 600ms ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -ms-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
}
.projects-list:hover .project-list__in {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
.project-list__front {
  background-image:  linear-gradient(45deg, rgba(0,0,0,0.73) 0%, rgba(250,254,255,0.725910432532388) 100%), url("Screenshot.png") ;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.project-list__back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  background-color: coral;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-to-project {
  width: 5rem;
  height: 5rem;
  background-color: #19dcea;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  text-align: center;
  line-height: 5rem;
}
.link-to-project > a > i {
  color: black;
  font-size: 2rem;
}