/* =====================row 1 ===================== */
/* header section */
header {
  height: 900px;
}
header > .header-nav-parent {
  background-color: transparent;
}
header > .header-nav-parent .web-nav {
  background-color: transparent;
}
/* for navbar items */
.navbar-nav > li a {
  font-family: "muliregular";
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  color: #ffffff;
}

/* style for dropmenu navbar */
.navbar-nav > li .dropdown-menu {
  background: #ffffff;
  border: none;
}
.navbar-nav > li .dropdown-menu li a {
  color: #222;
}
.navbar-nav > li .dropdown-menu li a:hover {
  background-color: #222;
  color: #ffffff;
}
/* header man picture */
header > .head-man-img .head-person-img {
  width: 800px;
  height: 800px;
  top: 172px;
  left: 0;
}
/* header slider */
header > .heading-slider-1 {
  top: 367px;
}
header > .heading-slider-1 .heading-slider h3 {
  font-size: 100px;
  font-family: "mulibold";
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
}
header > .heading-slider-1 .heading-slider span {
  font-size: 30px;
  font-family: "muliregular";
  font-weight: 300;
  font-style: normal;
  color: #ffffff;
}
header > .heading-slider-1 .heading-slider span::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #ffffff;
  display: block;
  position: absolute;
  left: -60px;
  top: 24px;
}
/* =====================row 2 ===================== */
/* style for provided title */
.provided-section h3{
  font-size: 50px;
  line-height: 70px;

}
/* =====================row 3 ===================== */
/* row 3 >> portfiolio area */
.portfolio-area-title h3{
  font-size: 50px;
  line-height: 62px;
}
/* =====================row 5 ===================== */

.designer-pic .grid-bg {
  left: 288px;
  top: -37px;
}
/* =====================row 6 ===================== */
.single-counter span{
  font-size: 80px;
}
